:root {
  --clr-accent: #641220;
  --clr-success: #40916c;
  --clr-danger: #a4133c;
  --clr-accent-dark: #500e19;
  --clr-text-light: #ffffff;
  --clr-text-dark: #000000;

  --ff-serif: "Playfair Display", serif;
  --ff-sans: "Noto Sans", sans-serif;

  --br-normal: 4px;
  --br-big: 12px;
  --br-pill: 999px;

  --fs-300: clamp(0.75rem, 0.64rem + 0.29vw, 0.9rem);
  --fs-400: clamp(0.88rem, 0.8rem + 0.37vw, 1.06rem);
  --fs-500: clamp(1.09rem, 1rem + 0.46vw, 1.33rem);
  --fs-600: clamp(1.37rem, 1.25rem + 0.57vw, 1.66rem);
  --fs-700: clamp(1.71rem, 1.57rem + 0.71vw, 2.08rem);
  --fs-800: clamp(2.25rem, 1.96rem + 0.89vw, 2.9rem);
  --fs-900: clamp(2.5rem, 2.45rem + 1.12vw, 4rem);

  --max-width: 1440px;
  --shadow: 0px 0.1px 6.1px rgba(0, 0, 0, 0.088), 0px 1px 49px rgba(0, 0, 0, 0.15);
  --shadow-small: 0px 2.3px 1.6px rgba(0, 0, 0, 0.08), 0px 2px 13px rgba(0, 0, 0, 0.14);
}
